@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    background-image: linear-gradient(to right, #7268EF, #9D93F6)
}

.pop-extrabold{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.pop-bold{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.pop-light{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.pop-regular{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.pop-semibold{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.pop-medium{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Candidates table  scrollbar Webkit-based browsers */
.centered::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  .centered::-webkit-scrollbar-thumb {
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 3px;
  }
  
  .centered::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

/* Candidates table  scrollbar Webkit-based browsers */
.voting-activity::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  .voting-activity::-webkit-scrollbar-thumb {
    background-color: rgba(65, 65, 65, 0.5);
    border-radius: 3px;
  }
  
  .voting-activity::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

/* HOME Webkit-based browsers */
.main::-webkit-scrollbar {
    width: 10px;
    height: 3px;
  }
  
  .main::-webkit-scrollbar-thumb {
    background-color: #444a5e73;
    border-radius: 3px;
  }
  
  .main::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .container > .sidebar{
    z-index: 1;
  }